/*BUTTON STYLES*/

a.button2{
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:700;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
}
a.button2:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
}
a.button2:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
}
@media all and (max-width:30em){
    a.button2{
        display:block;
        margin:0.4em auto;
    }
}
@media screen and (max-width: 48em) {
    a.button2{
        margin: auto;
    }
  }