*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
  text-align: center;
  margin-bottom: 25px;
}
.container{
    margin: auto;
    width: 92%;
    max-width: 1200px;
    overflow: hidden;
}


.container.text{
    max-width: 600px;
    text-align: center;
}
body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
  }

  a {
    color: #000;
  }

  .header_image{
    display: block;
    width: 100%;
    padding: 191px 0 120px 0;
    /*background-color: #d9effa;*/
    background-image: url(../images/header_index.jpg);
    background-size: cover;
    margin-bottom: 50px;
  }
  .header_image.alasivu.tuotteet-ja-palvelut{
    background-image: url(../images/header_tuotteet-ja-palvelut.jpg);
}
  .header_image.alasivu.yhteystiedot{
    background-image: url(../images/header_yhteystiedot.jpg);
}
  .header_image.alasivu{
    padding: 141px 0 100px 0;
}
  .header_image .container{
    max-width: 900px;
  }
  .header_image.alasivu .container{
    width: 100%;
    text-align: center;
}
  .header_img_text{
      font-size: 60px;
      max-width: 600px;
      margin-bottom: 25px;
      font-weight: 700;
      color: #FFF;
  }
  .alasivu .header_img_text{
      max-width: none;
      width: 100%;
      text-align: center;
      margin-bottom: 0;
  }
  .header_img_text-2{
      font-size: 25px;
      max-width: 600px;
      font-weight: 400;
      color: #FFF;
      margin-bottom: 25px;
  }

  .dark{
    padding:15px;
    background:#81c4c4;
    color: #ffffff;
    margin-top:10px;

  }


  /* Sidebar */
  aside#sidebar{

    width: 100%;
    margin-top: 10px;
  }

  aside#sidebar .quote input,  aside#sidebar .quote textarea{
    width: 65%;
    padding: 5px;

    }


  /* Main-col */
  article#main-col{
    float: left;
    width: 100%;

  }


  /* Services */

    ul#services{
        padding: 0 !important;
      }

 /* Services */

  ul#services{
      padding: 0 !important;
    }

  ul#services li{
     list-style: none;
     padding: 20px;
     border: #cccccc solid 1px;
     margin-bottom: 5px;
     background: #e6e6e6;


   }

    ul#services li{
       list-style: none;
       padding: 20px;
       border: #cccccc solid 1px;
       margin-bottom: 5px;
       background: #e6e6e6;
     }


  /* Image-slider */
  .slider-frame {
    width: 640px;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 7.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width:100%;
    max-height: auto;
  }

  /* ANIMATION */

  @-webkit-keyframes slide_animation {
    0% {left:0px;}
    10% {left:0px;}
    20% {left:640px;}
    30% {left:640px;}
    40% {left: 1280px;}
    50% {left: 1280px;}
    60% {left: 640px;}
    70% {left: 640px;}
    80% {left: 0px;}
    90% {left: 0px}
    100% {left: 0px}
  }

  /* ANIMATION */

  .slide-images {
    width: 1920px;
    height: 420px;
    position: relative;
    margin: 0 0 0 -1280px;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
  }

  .img-container {
    float: left;
    position: relative;
    height: 420;
    width: 640;
  }

  /* Image-slider-end */

    /* Image-slider */
    .slide-container {
      width: 800px;
      height: 600px;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      text-align: center;
  }
  .image-container {
      width: 2400px;
      height: 600px;
      position: relative;
      transition: left 2s;
      -webkit-transition: left 2s;
  }
  .slider-image {
      float: left;
      margin: 0px;
      padding: 0px;
  }
  .button-container {
      top: -20px;
      position: relative;
  }
  .slider-button {
      display: inline-block;
      height: 10px;
      width: 10px;
      border-radius: 5px;
      background-color: white;
  }
  #slider-image-1:target ~ .image-container {
      left: 0px;
  }
  #slider-image-2:target ~ .image-container {
      left: -800px;
  }
  #slider-image-3:target ~ .image-container {
      left: -1600px;
  }

  .wrapper{
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(350px, auto);
    grid-column-gap: 40px;
    grid-row-gap: 25px;
    text-align: center;
    margin-bottom: 50px;
  }
  .boxes{
    /*border: 1px solid #C0C0C0;*/
    border-radius: 7.5px;
    overflow: hidden;
    background-color:#FFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .boxes h2{
    margin-bottom: 10px;
    font-weight: 500;
    padding: 0 10px;
  }
  .boxes p{
    margin: auto;
    padding: 10px;
  }
  .card-image{
    width: 100%;
    height: 200px;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
  }

  @media screen and (max-width: 48em) {
    .wrapper{
      grid-template-columns: 100%;
    }
    .header_image{
      text-align: center;
    }
    .header_img_text{
      margin: 0 auto 25px auto;
      font-size: 40px;
      width: 92%;
      max-width: none;
    }
    .header_img_text-2{
      margin: auto;
      margin-bottom: 25px;
      width: 92%;
      max-width: none;
    }
    .header_image{
      padding: 141px 0 100px 0;
    }
  }

  footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color:#81c4c4;
  text-align:center;
  }
  .kielinav{
    right: 10px;
    top: 20px;
    position: fixed;
    text-decoration: none;
    font-weight: 700;
  }
