*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
  text-align: center;
  margin-bottom: 25px;
}
.container{
    margin: auto;
    width: 92%;
    max-width: 1200px;
    overflow: hidden;
}
.container.text{
    max-width: 600px;
    text-align: center;
}
body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
  }
  
  a {
    color: #000;
  }

  .header_image{
      display: block;
      width: 100%;
      padding: 241px 0 180px 0;
      /*background-color: #d9effa;*/
      background-image: url(../images/solarpanel.jpg);
      background-size: cover;
      margin-bottom: 50px;
  }
  .header_image.alasivu{
    padding: 141px 0 100px 0;
}
  .header_image .container{
      max-width: 900px;
  }
  .header_image.alasivu .container{
    width: 100%;
    text-align: center;
}
  .header_img_text{
      font-size: 60px;
      max-width: 600px;
      margin-bottom: 25px;
      font-weight: 700;
      color: #FFF;
  }
  .alasivu .header_img_text{
      max-width: none;
      width: 100%;
      text-align: center;
      margin-bottom: 0;
  }
  .header_img_text-2{
      font-size: 25px;
      max-width: 600px;
      font-weight: 400;
      color: #FFF;
  }
  
  /* VALIKON TYYLIT */
  /* header */
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    width: 192.5px;
    height: auto;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  
  .dark{
    padding:15px;
    background:#81c4c4;
    color: #ffffff;
    margin-top:10px
    margin-top: 10px
  }


  

   /* Sidebar */
   aside#sidebar{
     float: left;
     width: 100%;
     margin-top: 10px;
   }

   aside#sidebar .quote input,  aside#sidebar .quote textarea{
     width: 90%;
     padding: 5px;

     },




   /* Main-col */
   article#main-col{
     float: left;
     width: 65%;
   }

  /* Services */
    ul#services li{
      list-style: none;
      padding: 20px;
      border: #cccccc solid 1px;
      margin-bottom: 5px;
      background: #e6e6e6;
    }
  
    /* Image-slider */
    .slide-container {
      width: 800px;
      height: 600px;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      text-align: center;
  }
  .image-container {
      width: 2400px;
      height: 600px;
      position: relative;
      transition: left 2s;
      -webkit-transition: left 2s;
  }
  .slider-image {
      float: left;
      margin: 0px;
      padding: 0px;
  }
  .button-container {
      top: -20px;
      position: relative;
  }
  .slider-button {
      display: inline-block;
      height: 10px;
      width: 10px;
      border-radius: 5px;
      background-color: white;
  }
  #slider-image-1:target ~ .image-container {
      left: 0px;
  }
  #slider-image-2:target ~ .image-container {
      left: -800px;
  }
  #slider-image-3:target ~ .image-container {
      left: -1600px;
  }